<div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Query
      </dt>
      <dd>
        <%= @the_message.query_id %>
      </dd>

      <dt>
        Body text
      </dt>
      <dd>
        <%= @the_message.body_text %>
      </dd>

      <dt>
        Role
      </dt>
      <dd>
        <%= @the_message.role %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_message.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit message
    </h2>

    <form action="/modify_message/<%= @the_message.id %>"  method="post" >
      <div>
        <label for="query_id_box">
          Query
        </label>

        <input type="text" id="query_id_box" name="query_query_id" value="<%= @the_message.query_id %>">
      </div>

      <div>
        <label for="body_text_box">
          Body text
        </label>

        <input type="text" id="body_text_box" name="query_body_text" value="<%= @the_message.body_text %>">
      </div>

      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role" value="<%= @the_message.role %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_message.user_id %>">
      </div>

      <button>
        Update message
      </button>
    </form>
  </div>
</div>

<hr>
